* {
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background-color: rgb(9, 21, 64);
    color: rgb(233, 239, 245);
    font-family: 'Times New Roman', Times, serif;
    text-rendering: auto;
    text-align: justify;
    overflow: hidden;
}

h1 {
    font-size: 4em;
    text-shadow: rgb(39, 38, 38) 3px 3px 3px;
    margin-top: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 60px;
    margin-bottom: 30px;
}

.button {
    margin-left: 10px;
    margin-top: 30px;
    margin-left: 20px;
    display: inline-block;
    padding: 10px 40px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;	
    text-decoration: none;
    outline: none;
    color: black;
    background-color: rgb(194, 194, 206);
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
}
  
.button:hover {background-color: gray}
  
.button:active {
    background-color: gray;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

li {
    list-style-type: none;
}

input{   
    background-color: whitesmoke;;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    
    border-radius:4px;   
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    box-shadow: 1px 1px 2px #333333;    
    -moz-box-shadow: 1px 1px 2px #333333;
    -webkit-box-shadow: 1px 1px 2px #333333;
    border:1px solid #000000;
}

.linha {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input{
    margin: 10px 20px 5px 20px;
    padding: 15px;
}

.campo {
    width: 50%;
}

.address {
    width: 100%;
}
