.navbar {
    overflow: hidden;
    background-color: rgb(27, 44, 193);
    position: fixed; /* Set the navbar to fixed position */
    width: 100%; /* Full width */
    margin-top: 0px;
    padding-left: -5px;
    padding: 12px;
    display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

/*seta navbar no topo*/
header.navbar{
    top: 0;
}

footer.navbar{
    bottom: 0;
    font-size: 0.9em;
}

header.left, header.right {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;  
}


header.navbar .left a{
  color : rgb(171, 210, 250);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

footer.navbar p,footer.navbar address{
    padding-bottom: 0px;
    padding-top: 0.1em;
    text-align: left;
}

/* Links inside the navbar */
header.navbar .right a {
  color : rgb(45, 93, 123);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

  /* Change background on mouse-over */
.navbar .right a:hover, .navbar .left .a:hover {
   background: #ddd;
   color: red;
}

main.main{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 35px;
}

body{
    background-color: rgb(9, 21, 64);
    color: rgb(233, 239, 245);
    font-family: 'Times New Roman', Times, serif;
    text-rendering: auto;
    text-align: justify;
}

main.main div b.title{
  margin-left: 35px;
    margin-top: 75px;
    font-size: 60px;
    text-shadow: rgb(39, 38, 38) 3px 3px 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main.main div a.new_customer_title{
  margin-right: 35px;
    font-size: 35px;
    color:darkred;
    text-decoration: underline darkred;
}

/* Estilo para a lista de guests */
table {
  border: 1px solid darkred;
  width: 100%;
  margin-top: 50px;
  border-spacing: 0;
  border-collapse: collapse;
}

th{
  color: white;
}

tr, th, td{
  padding: 10px;
  text-align: left;
}

tr:nth-last-child(even){
  background-color: #A9A9A9;
}

.buttonP {
  margin-top: 30px;
  margin-right: 10px;
  padding: 5px 20px;
  cursor: pointer;
  text-align: center; 
  text-decoration: none;
  outline: none;
  color: black;
  background-color: rgb(194, 194, 206);
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
}

.buttonN {
  margin-top: 30px;
  padding: 5px 30px;
  cursor: pointer;
  text-align: center; 
  text-decoration: none;
  outline: none;
  color: black;
  background-color: rgb(194, 194, 206);
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
}
