/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: rgb(27, 44, 193);
    position: fixed; /* Set the navbar to fixed position */
    width: 100%; /* Full width */
    margin-top: 0px;
    padding-left: 0px;
    padding-top: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  div.navbar{
      top: 0;
  }
  
  footer.navbar{
      display: flex;
      bottom: 0;
      font-size: 0.9em;
  }
  
  /* Links inside the navbar */
  .navbar .left p a ,footer.navbar p,footer.navbar address{
    float: left;
    display: block;
    color : rgb(171, 210, 250);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  footer.navbar p,footer.navbar address
  {
      padding-bottom: 0px;
      padding-top: 0.1em;
      text-align: left;
  }
  
  /* Links inside the navbar */
  .navbar .right p a {
    float: right;
    display: block;
    color : rgb(171, 210, 250);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change background on mouse-over */
  .navbar .right p a:hover, .navbar .left p a:hover {
    background: #ddd;
    color: black;
  }

  body{
    background-color: rgb(9, 21, 64);
    color: rgb(233, 239, 245);
    font-family: 'Times New Roman', Times, serif;
    text-rendering: auto;
    text-align: justify;
  }
  
  h1,h2,h3{
    font-weight: bolder;
  }
  
  /* Main content */
  main {
    margin-top: 3em; /* Add a top margin to avoid content overlay */
    margin-bottom: 3em; /* Add a bottom margin to avoid content overlay */
  }